{% extends "proyectoWebApp/base.html" %}

{% load static  %}

{% block content %}
<div class="contenedorFormulario">
    {% if "valido" in request.GET %}
        <p style="color: white;">Información enviada correctamente, gracias </p>
    {% endif %}
    <form action=" " method="post" style="text-align:center;">
        {% csrf_token %} <!-- medidad de seguridad para los formularios -->
        <table style="color: white; margin:20px auto;">
        {{miFormulario.as_table}}
        </table>

        <input type="submit" value="Enviar">
        
    </form>
    
</div>

{% endblock %}